@import 'tailwindcss';

@theme {
  --color-primary: #ffae00;
  --color-secondary: #efeb85;
  --color-secondary-50: #efeb858a;
}

body {
  @apply bg-black text-white;
}

.hero-bg {
  background:
    linear-gradient(to right, black 20%, rgba(6, 9, 12, 0.2)),
    url(https://res.cloudinary.com/do0pop1de/image/upload/v1718113378/src%20for%20portfolio%20website/intro-bg.jpg)
      center top;
  background-size: cover;
}
