@import 'tailwindcss';

@theme {
  --color-primary: #000000;
  --color-primary-content: #ffae00;
  --color-secondary-content: #efeb85;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-primary text-white;
}

* {
  scroll-margin-top: 4rem;
}
