@import 'tailwindcss';

@theme {
  --color-primary: #ffae00;
  --color-secondary: #efeb85;
  --color-secondary-50: #efeb858a;
  --color-primary-bg: #000000;
}

body {
  @apply bg-primary-bg text-white;
}
